.error-message {
  float: left;
  padding: 20px 30px;
  width: 100%;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
}

.error-text {
  color: #cc0033;
  text-shadow: 1px 1px rgba(250, 250, 250, 0.3);
}
